apiVersion: apps/v1
kind: Deployment
metadata:
  name: report-service
  namespace: my-finance
  labels:
    app: report-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: report-service
  template:
    metadata:
      labels:
        app: report-service
    spec:
      containers:
        - name: report-service
          image: my-finance/report-service:latest
          imagePullPolicy: IfNotPresent
          command: ["node", "dist/apps/report-service/main"]
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: my-finance-config
          env:
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: my-finance-secrets
                  key: RABBITMQ_URL
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "300m"
          readinessProbe:
            tcpSocket:
              port: 3003
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 3003
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: report-service
  namespace: my-finance
spec:
  selector:
    app: report-service
  ports:
    - port: 3003
      targetPort: 3003
  type: ClusterIP
